//* Color Vars *//
$main_text: #ffffff;
$black: #1b222c;
$canton_blue_bg: #2c3a47;
$gold: #d4af37;

//* Main Body *//
body {
  background-color: $black;
  font-family: Arial, Helvetica, sans-serif;
  color: $main_text;
  &::-webkit-scrollbar {
    width: 0.5rem !important;
  }
  &::-webkit-scrollbar-track {
    background: $canton_blue_bg !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $canton_blue_bg !important;
  }
}

/* Sets Cursor to default when hovering over Plotly graphs */
.cursor-crosshair {
  cursor: default !important;
}

/* Drop Down Options */
.dropdown {
  position: relative;
  display: inline-block;
  width: 35%;
  margin-top: 5px;
  margin-bottom: 15px;
  color: $black;
}

/* Chart Area */
#state_title {
  background-color: $canton_blue_bg;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 0.5em;
  margin-bottom: 0px;
}

@mixin graphs {
  background-color: $canton_blue_bg;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}

.piegraph {
  @include graphs;
}

.bargraph {
  @include graphs;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Source Links */
@mixin source_link {
  margin-top: 0.5em;
  font-style: italic;
  a {
    font-style: normal;
  }
  a:hover {
    color: $gold;
  }
}

#github-repo-link {
  @include source_link;
}

#source-link {
  @include source_link;
  margin-bottom: 0.5em;
}

#favicon_credit {
  @include source_link;
  margin-bottom: 1em;
}

/* Page transition animation */
.loading {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Display links if page is printed */
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
}

/* Mobile Options */
@media only screen and (max-width: 455px) {
  .dropdown {
    width: 70%;
  }
}
